# ============================
# Backend Framework
# ============================
fastapi
uvicorn

# ============================
# Configuration
# ============================
python-dotenv
pydantic-settings

#============================
# Email validator
# ============================

pydantic[email]

# ============================
# Database
# ============================
sqlalchemy
psycopg2-binary
alembic

# ============================
# Authentication
# ============================
python-jose[cryptography]
passlib[bcrypt]

# ============================
# RAG
# ============================
langchain
langgraph
qdrant-client

# ============================
# Embeddings
# ============================
sentence-transformers

# ============================
# OCR
# ============================
pytesseract